

.apptitle {
  font-size: 2rem;
  font-family: monospace;
  color: white;
  margin: 0rem 0rem 0rem 0.75rem;
}

.box-title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.leftcolumn {
  margin-right: auto;
}

.rightcolumn {
 margin-left: auto;
}

.card-header {
  display: flex !important;
  align-items: center;
}

.card-title {
  width: 100%;
}

.card-body {
  padding: 0.75rem 1.25rem;
}

.input-box {
  overflow-x:auto;
}

table.dataTable td {
  white-space: nowrap!important;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.bold-col {
  font-weight: bold;
}


.progress-bar {
  display: none !important!;
}


.main-container {
  font-size: 0.8rem;
}

.helpbox {
  max-height: 96%!important;;
  padding-top: 0rem!important;
  padding-bottom: 0.4rem!important;
}

.helpbox p {
  font-size: .95rem!important;
  font-weight: 500!important;
  text-align: justify!important;
  line-height: 1.5rem!important;
  margin-bottom: 1rem!important;
}

.btn-olive {
  color: #4e4e4e;
  font-weight: 500;
}

.btn-olive.active {
  background-color: #3d9970;
  color: #FFFFFF;
  font-weight: 700;
}

.btn-olive:hover {
  background-color: #3d99704d;
}

.bttn-jelly.bttn-royal {
  background-color: #FFFFFF;
  color: #3d9970;
}

.bttn-jelly.bttn-danger {
  background-color: #E35336;
}

.res-table {
  overflow-x: auto;
}

.control-label {
  display: flex;
  gap: 10px;
}

.control-label .pretty-switch {
  flex: 0 0 auto;
  width: auto;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: 30px;
}
